* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "overpass";
  src: url(../fonts/static/Overpass-Black.ttf) format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "overpass";
  src: url(../fonts/static/Overpass-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "overpass";
  src: url(../fonts/static/Overpass-Light.ttf) format("truetype");
  font-weight: 100;
}
/* inicio */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: overpass;
}

footer {
  padding: 0;
  margin: 0;
}
footer .footer {
  width: 100%;
  height: 70px;
  position: relative;
  margin: 0;
  padding: 0;
  bottom: 0;
  background-color: #151515;
  text-align: center;
  color: rgba(255, 255, 255, 0.8862745098);
}
footer .footer .div__ig {
  display: inline-block;
  margin-top: 20px;
}
footer .footer .ig__link {
  text-decoration: none;
  font-family: overpass;
  font-weight: 600;
  text-align: center;
  color: rgba(255, 255, 255, 0.8862745098);
  margin-top: 15px;
}
footer .footer__link {
  position: absolute;
  text-align: center;
}
footer .footer__link .logo-wpp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: 0.7s;
}
footer .footer__link .logo-wpp:hover {
  transform: rotate(360deg) scale(105%);
  transition: 1.5s;
}
footer .copyright {
  background-color: #151515;
  color: rgba(255, 255, 255, 0.8862745098);
  font-size: 0.7em;
  text-align: center;
  margin: 0;
}

header {
  width: 100%;
  height: 250px;
  background-color: #151515;
}
header .container_nav {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  justify-content: end;
}
header .container_nav .label__hamburguesa {
  display: flex;
  position: absolute;
}
header .container_nav .menu_hamburguesa {
  position: absolute;
  display: none;
}
header .container_nav .menu_hamburguesa:not(:checked) ~ .nav_hamburguesa {
  display: none;
}
header .container_nav .nav_hamburguesa {
  width: 100%;
  height: 70vh;
  display: block;
  background-color: rgba(15, 15, 15, 0.9137254902);
  align-content: center;
  margin-top: 30px;
}
header .container_nav .nav_hamburguesa .nav__item {
  margin-top: 30px;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-content: center;
}
header .container_nav .nav_hamburguesa .nav__item .item__link-resp {
  text-decoration: none;
  font-size: 0.7em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.8862745098);
  transition: 0.2s;
}
header .container_nav .nav_hamburguesa .nav__item .item__link-resp:focus {
  opacity: 70%;
}
header .header__logo {
  position: fixed;
  filter: drop-shadow(0px 1px 1px #fff);
  top: 0;
  left: 10px;
  width: 50px;
  height: 50px;
}

main {
  margin-bottom: 0px;
}
main .main__div {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: center;
  background-color: #151515;
}
main .main__div-h2 {
  justify-content: center;
  display: flex;
  width: 100%;
}
main .main__div-h2 .h2__inicio {
  font-weight: bold;
  font-size: 1.5em;
  color: #151515;
  justify-items: center;
}

.grid__container {
  display: grid;
  margin: 40px 100px 0px 100px;
  margin: 0;
  gap: 0;
  grid-template-areas: "item3 item3 item3  item3" "item2 item2 item2 item2" "item1 item1 item1 item1";
  grid-template-rows: repeat(3, 300px);
  gap: 30px;
  margin-bottom: 30px;
}
.grid__container .grid__item1 {
  grid-area: item1;
  background-image: url(../../assets/invierno/abrigodelana.jpg);
  background-size: cover;
}
.grid__container .grid__item2 {
  grid-area: item2;
  background-image: url(../../assets/invierno/poleranegra.jpg);
  background-size: cover;
  width: 100%;
}
.grid__container .grid__item3 {
  grid-area: item3;
  background-image: url(../../assets/invierno/sweater-marron.jpg);
  background-size: cover;
  width: 100%;
}

.main__nosotros {
  background-image: url(../../assets/contacto/fondobody.jpg);
  background-size: cover;
}
.main__nosotros .div__nosotros {
  font-family: overpass;
  font-weight: 100;
  font-size: 1em;
  text-align: center;
  margin: 0px;
  padding: 20px;
}
.main__nosotros .div__nosotros .h2-nosotros {
  margin: 10px 0 10px 0;
  font-weight: 500;
  font-family: overpass;
}
.main__nosotros .div__nosotros .parrafo__nosotros {
  text-align: center;
  font-size: 1.2em;
}

.main {
  min-height: 100%;
}
.main .section__contacto {
  height: 700px;
  font-family: overpass;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8862745098);
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.6em;
}
.main .container__contacto {
  width: 100%;
  flex-direction: column;
  position: absolute;
  display: flex;
  border-radius: 20px;
  justify-content: center;
}
.main .container__contacto .cantainer__parrafo {
  width: 100%;
  height: 95%;
  position: relative;
  border: 1px solid #151515;
}
.main .container__contacto ul {
  padding: 0;
}
.main .container__contacto ul li .bi-whatsapp, .main .container__contacto ul li .bi-telephone, .main .container__contacto ul li .bi-envelope, .main .container__contacto ul li .bi-geo-alt {
  color: #151515;
}
.main .container__contacto ul li a {
  color: #151515;
  text-decoration: none;
}
.main .container__contacto .contacto__input {
  width: 100%;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
.main .container__contacto .contacto__message {
  width: 100%;
  height: 100px;
  justify-content: center;
  position: relative;
}
.main .div__boton {
  position: relative;
  height: 100%;
}

.nav__item {
  padding: 0;
}

.section__carrousel {
  margin-bottom: 30px;
}

@media (min-width: 552px) and (max-width: 1023px) {
  .container_nav {
    display: none;
  }
  .list-icon {
    display: none;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav {
    position: absolute;
    justify-content: end;
    width: 100%;
    top: 45px;
    right: 10px;
  }
  .nav__ul-item {
    list-style-type: none;
    padding: 5px;
    display: inline-block;
  }
  .item__link {
    text-decoration: none;
    font-size: 0.7em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.8862745098);
    margin-right: 15px;
    transition: 0.2s;
  }
  .item__link:hover {
    opacity: 80%;
    transition: 0.2s;
    position: sticky;
  }
  .grid__container {
    display: grid;
    margin: 10px 60px 0px 60px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: "item3 item3 item2 item2" "item3 item3 item2 item2" "item1 item1 item1 item1" "item1 item1 item1 item1";
    gap: 30px;
    margin-bottom: 50px;
  }
  .grid__item1 {
    grid-area: item1;
    background-image: url(../assets/invierno/abrigodelana.jpg);
    background-size: cover;
  }
  .grid__item2 {
    grid-area: item2;
    background-image: url(../assets/invierno/poleranegra.jpg);
    background-size: cover;
    width: 100%;
  }
  .grid__item3 {
    grid-area: item3;
    background-image: url(../assets/invierno/sweater-marron.jpg);
    background-size: cover;
    width: 100%;
  }
  .h2__inicio {
    margin-top: 10px;
    align-content: center;
  }
  .h1__inicio {
    font-size: 3em;
    font-family: overpass;
    font-weight: bold;
    color: rgba(238, 236, 236, 0.9098039216);
    letter-spacing: 5px;
  }
  .contacto__input {
    width: 100%;
  }
  .input {
    margin-bottom: 20px;
    width: 50%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.338);
    font-family: overpass;
    font-weight: 100;
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    font-size: 0.7em;
  }
  .textarea {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.338);
    font-family: overpass;
    font-weight: 100;
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    font-size: 0.7em;
    width: 50%;
    height: 90px;
  }
  a {
    font-family: overpass;
    font-weight: 100;
    color: #151515;
    margin: 10px 0 10px 0;
    padding: 10px;
    font-size: 0.7em;
    text-decoration: none;
  }
  p {
    font-size: 0.7em;
    color: #151515;
    align-items: center;
    margin: 0 10px 20px 10px;
    font-weight: 500;
  }
  .section__titulo {
    color: #151515;
    font-family: overpass;
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 1.2em;
    font-weight: 500;
  }
  .boton {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 75%;
    top: -35px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8862745098);
    background-image: url(../../assets/contacto/file\ \(1\).png);
    background-size: 40px 40px;
    background-position: center;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.6s;
  }
  .boton:hover {
    transform: rotate(40deg);
    transition: 0.5s;
    background-color: rgba(238, 236, 236, 0.9098039216);
    box-shadow: 1px 0 3px 1px rgba(15, 15, 15, 0.3647058824);
  }
}
@media (max-width: 551px) {
  .list-icon {
    color: rgba(238, 236, 236, 0.9098039216);
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
  }
  .header__container {
    display: none;
  }
  .h1__inicio {
    font-size: 2.2em;
    font-family: overpass;
    font-weight: bold;
    color: rgba(238, 236, 236, 0.9098039216);
    letter-spacing: 5px;
  }
  .input {
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.338);
    font-family: overpass;
    font-weight: 100;
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    font-size: 0.6em;
  }
  .textarea {
    margin-top: 10px;
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.338);
    font-family: overpass;
    font-weight: 100;
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    font-size: 0.6em;
    width: 90%;
    height: 90px;
  }
  p {
    font-size: 0.6em;
    color: #151515;
    align-items: center;
    margin: 0 10px 20px 10px;
    font-weight: 500;
  }
  a {
    font-family: overpass;
    font-weight: 100;
    color: #151515;
    margin: 10px 0 10px 0;
    padding: 10px;
    font-size: 0.6em;
    text-decoration: none;
  }
  .section__titulo {
    color: #151515;
    font-family: overpass;
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 1em;
    font-weight: 500;
  }
  .boton {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    padding: 0 0 10px 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.8862745098);
    background-image: url(../../assets/contacto/file\ \(1\).png);
    background-size: 40px 40px;
    background-position: center;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.6s;
  }
  .boton:hover {
    transform: rotate(40deg);
    transition: 0.5s;
    background-color: rgba(238, 236, 236, 0.9098039216);
    box-shadow: 1px 0 3px 1px rgba(15, 15, 15, 0.3647058824);
  }
}
@media (min-width: 1024px) {
  .container_nav {
    display: none;
  }
  .list-icon {
    display: none;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav {
    position: absolute;
    justify-content: end;
    width: 100%;
    top: 45px;
    right: 50px;
  }
  .nav__ul-item {
    list-style-type: none;
    padding: 5px;
    display: inline-block;
  }
  .item__link {
    text-decoration: none;
    font-size: 1em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.8862745098);
    margin-right: 15px;
    transition: 0.2s;
  }
  .item__link:hover {
    opacity: 80%;
    transition: 0.2s;
    position: sticky;
  }
  .grid__container {
    display: grid;
    margin: 10px 60px 0px 60px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: "item3 item3 item2 item2" "item3 item3 item2 item2" "item1 item1 item1 item1" "item1 item1 item1 item1";
    gap: 30px;
    margin-bottom: 50px;
  }
  .grid__item1 {
    grid-area: item1;
    background-image: url(../assets/invierno/abrigodelana.jpg);
    background-size: cover;
  }
  .grid__item2 {
    grid-area: item2;
    background-image: url(../assets/invierno/poleranegra.jpg);
    background-size: cover;
    width: 100%;
  }
  .grid__item3 {
    grid-area: item3;
    background-image: url(../assets/invierno/sweater-marron.jpg);
    background-size: cover;
    width: 100%;
  }
  .h2__inicio {
    margin-top: 10px;
    align-content: center;
  }
  .h1__inicio {
    font-size: 4em;
    font-family: overpass;
    font-weight: bold;
    color: rgba(238, 236, 236, 0.9098039216);
    letter-spacing: 5px;
  }
  .contacto__input {
    width: 100%;
  }
  .input {
    margin-bottom: 20px;
    width: 50%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.338);
    font-family: overpass;
    font-weight: 100;
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    font-size: 0.7em;
  }
  .textarea {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.338);
    font-family: overpass;
    font-weight: 100;
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    font-size: 0.7em;
    width: 50%;
    height: 90px;
  }
  .section__titulo {
    font-size: 2em;
  }
  .p {
    font-size: 1em;
  }
  .section__titulo {
    color: #151515;
    font-family: overpass;
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 1.3em;
    font-weight: 500;
  }
  a {
    font-family: overpass;
    font-weight: 100;
    color: #151515;
    margin: 10px 0 10px 0;
    padding: 10px;
    font-size: 0.8em;
    text-decoration: none;
  }
  p {
    font-size: 0.8em;
    color: #151515;
    align-items: center;
    margin: 0 10px 20px 10px;
    font-weight: 500;
  }
  .boton {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 75%;
    top: -40px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8862745098);
    background-image: url(../../assets/contacto/file\ \(1\).png);
    background-size: 40px 40px;
    background-position: center;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.6s;
  }
  .boton:hover {
    transform: rotate(40deg);
    transition: 0.5s;
    background-color: rgba(238, 236, 236, 0.9098039216);
    box-shadow: 1px 0 3px 1px rgba(15, 15, 15, 0.3647058824);
  }
}

/*# sourceMappingURL=style.css.map */
