@import "../utilities/variables";
@import "../utilities/mixins";

.main__nosotros{
    background-image: url(../../assets/contacto/fondobody.jpg);
    background-size: cover;
    .div__nosotros{
        font-family: $font;
        font-weight: 100;
        font-size: 1em;
        text-align: center;
        margin: 0px;
        padding: 20px;
            .h2-nosotros{
                margin: 10px 0 10px 0;
                font-weight: 500;
                font-family: $font;
            }
            .parrafo__nosotros{
                text-align: center;
                font-size: 1.2em;
            }
    }
}